* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #30B868;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  border: #30B868 1px solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* .continar {
  width: 85%;
} */

/* Header section */
header {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

header div nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
}

header div nav ul li {
  cursor: pointer;
  transition: 200ms;
}

header div nav ul li:hover {
  color: #30B868;
}

.hero-section {
  background-image: url(Images/Hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-section .hero-content {
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 70px 0px 130px 0px;
  justify-items: center;
}

.hero-section .hero-content .btn1 {
  background-color: white;
  padding: 8px 12px;
  border-radius: 100px;
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
}

.hero-section .hero-content h1 {
  font-size: 70px;
  line-height: 84px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  padding: 32px 0;
}

.heading-color {
  color: #30B868;
}

.hero-section .hero-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  width: 700px;
  padding-bottom: 32px;
}

.hero-section .hero-content .btn2 {
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-top: 32px;
  border: solid 1px white;
  padding: 12px 16px;
  cursor: pointer;
}

/* Second Section */
.second-section {
  background-color: #fbfbfb;
}

.continer {
  margin: auto;
  width: 85%;
  padding: 50px 0px;
  text-align: center;
}

.second-section .continer h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

.second-section .continer p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  padding: 16px 0 44px 0px;
}

.second-section .continer div {
  display: flex;
  gap: 24px;
}

.second-section .continer div div {
  color: #001931;
  padding: 24px;
  border-radius: 5px;
  display: block;
  background-color: white;
  box-shadow: 5px 5px 50px 20px #00000005;
}

.second-section .continer div div img {
  padding-top: 30px;
}

.second-section .continer div div h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0px;
}

.second-section .continer div div p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}