* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
}

.btn {
  background-color: #30B868;
  color: white;
  padding: 12px 16px;
  border-radius: 5px;
  border: #30B868 1px solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms;
}

.btn:hover {
  background-color: #f95555;
  border: solid 1px #f95555;
  box-shadow: 4px 4px 50px 20px #ffffff10;
  transform: scale(.95);
}

/* .continar {
  width: 85%;
} */

/* Header section */
#header {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
}

#header nav ul {
  display: flex;
  list-style: none;
  gap: 32px;
  font-size: 16px;
  font-weight: 500;
}

#header nav ul li {
  cursor: pointer;
  transition: 200ms;
}

#header nav ul li:hover {
  color: #30B868;
}

#hero-section {
  background-image: linear-gradient(#00193180), url(Images/Hero.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#hero-section .hero-content {
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 70px 0px 130px 0px;
  justify-items: center;
}

#hero-section .btn1 {
  background-color: white;
  padding: 8px 12px;
  border-radius: 100px;
  color: #30B868;
  font-size: 16px;
  font-weight: 500;
}

#hero-section .hero-content h1 {
  font-size: 70px;
  line-height: 84px;
  font-weight: bold;
  color: white;
  text-transform: capitalize;
  padding: 32px 0;
}

.heading-color {
  color: #30B868;
}

#hero-section .hero-content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  width: 700px;
  padding-bottom: 32px;
}

#hero-section .hero-content .btn2 {
  background-color: transparent;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
  border: solid 1px white;
  padding: 12px 16px;
  cursor: pointer;
  transition: 300ms;
}

#hero-section .hero-content .btn2:hover {
  background-color: #f95555;
  color: #ffffff;
  border: solid 1px #f95555;
  box-shadow: 4px 4px 50px 20px #ffffff10;
  transform: scale(.95);
}

/* Note Section */
#note-section {
  background-color: #fbfbfb;
}

.continer {
  margin: auto;
  width: 85%;
  padding: 50px 0px;
  text-align: center;
}

#note-section .continer h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}

#note-section .continer p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  padding: 16px 0 44px 0px;
}

#note-section .continer .card-box {
  display: flex;
  gap: 24px;
}

#note-section .continer .card-box .card {
  color: #001931;
  padding: 24px;
  border-radius: 5px;
  display: block;
  background-color: white;
  transition: 300ms;
  cursor: pointer;
  box-shadow: 5px 5px 50px 20px #00000005;
}

#note-section .continer .card-box .card:hover {
  box-shadow: 5px 5px 50px 20px #00000015;
}

#note-section .continer .card-box .card i {
  background-color: #f95555;
  color: #FAFAFA;
  font-size: 25px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
}

#note-section .continer .card-box .card h3 {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0px;
}

#note-section .continer .card-box .card p {
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}

/* Brain section */
#brain-section {
  margin: auto;
  width: 85%;
  display: flex;
  padding: 60px 0;
  gap: 60px;
  align-items: center;
}

#brain-section div {
  width: 50%;
}

#brain-section div img {
  width: 100%;
  max-width: 600px;
}

#brain-section div h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #30B868;
  font-weight: 500;
}

#brain-section div h2 {
  font-size: 48px;
  font-weight: bold;
  color: #001931;
  padding: 16px 0px;
}

#brain-section div p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
}

#brain-section div ul {
  list-style: none;
  list-style-position: inside;
  padding-top: 40px;
}

#brain-section div ul li {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #001931;
  padding-bottom: 16px;
}

#brain-section div ul li .fa-solid {
  color: #30B868;
}

/* Early Access Section */
#early-access-section {
  width: 85%;
  margin: 60px auto;
  background-color: #f7f6f2;
  text-align: center;
  justify-items: center;
  padding: 80px 0px;
  border-radius: 10px;
}

#early-access-section h2 {
  font-size: 40px;
  font-weight: bold;
  color: #001931;
}

#early-access-section p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 600px;
  padding: 16px 0px 24px 0px;
  color: #627382;
}

/* Footer Section */
#footer {
  background-color: #001931;
  color: white;
}

#footer .footer-continer {
  width: 85%;
  margin: auto;
  padding: 80px 0px 30px;
}

#footer .footer-continer .footer-content {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

#footer .footer-continer .footer-content h3 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500px;
  color: #fff;
}

#footer .footer-continer .footer-content .Social-box {
  width: 220px;
  justify-content: left;
}

#footer .footer-continer .footer-content .Social-box .social-icon {
  padding-top: 16px;
}

#footer .footer-continer .footer-content .Social-box .social-icon i {
  padding-right: 16px;
  color: #ffffff;
  font-size: 25px;
  transition: 200ms;
}

#footer .footer-continer .footer-content .Social-box .social-icon i:hover {
  color: #30B868;
}

#footer .footer-continer .copyright-text p {
  padding-top: 30px;
  border-top: solid 1px #2e4256;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #FAFAFA;
}